.page-header{
	padding-bottom: 2px;
	margin-top: 25px;
	margin-bottom: 2px;
}

.content-heading{
	margin-left: 10px;
}

.main-content-heading{
	padding: 0 30px;
}

.main-wrap{
	padding-left: 20px;
}

.inline-it{
	display: inline-block !important;
}

.reply{
	margin:0 5px;
	border-radius: 10px;
	border-width: 1px;
}

.comment-form{
	margin-top: 3px;
	margin-bottom: 1px;
}

.liked{
	color: #e12e1c;
}

.marked{
	color: #18BC9C;
}

.tile-sq-lg {
  width: 450px !important;
  height: 450px !important;
}

.btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
}

.btn-sq {
  width: 100px !important;
  height: 100px !important;
  font-size: 10px;
}

.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
}

.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}

